.section {
    width: 500px;
    height: 500px;
    background-image: url(../../images/background-image/code-background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}